<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" lang="en">

<head>
  <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
  <meta http-equiv="content-language" content="en">
  <title>Swyser Contact Request</title>
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
</head>

<body style="margin: 0; padding: 0;">
  <table align="center" cellpadding="0" cellspacing="0" width="600">
    <tr>
      <td align="center" bgcolor="#70bbd9" style="padding: 0;">
        <img src="http://assets1.ignimgs.com/vid/thumbnails/user/2013/07/12/axecop_1280w.jpg" alt="Creating Email Magic" width="600" style="display: block;" />
      </td>
    </tr>
    <tr>
      <td bgcolor="#ffffff" style="padding: 40px 30px 40px 30px;">
        <table cellpadding="0" cellspacing="0" width="100%">
          <tr>
            <td style="text-align: center;">
              <h2>MAIL MOTHERFU*KER!</h2>
            </td>
          </tr>
          <tr>
            <td>
              &nbsp;
            </td>
          </tr>
          <tr>
            <td>
              From: {{ name }} - {{ email }}
              <td>
          </tr>
          <tr>
            <td>
              Message: {{ message }}
            </td>
          </tr>
        </table>
        </td>
    </tr>
  </table>
</body>

</html>